#center {
	width: 100%;
	margin: 0 auto;
}

#banner {
	padding: 0px;
	psotion: relative;
	width: 100%;
	
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#banner img {
	width: 100%;
}

#langButton {
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
	color: gray;
}

#info {
	background-color: gold;
	padding: 0px;
}

#info p {
	margin: 10px;
}

#info a {
	color: inherit;
	text-decoration: none;
}

#infoText {
	padding-top: 5px;
	padding-bottom: 5px;
	color: black;
}

#openTimes {
	font-size: 14px;
	margin: 10px;
	color: black;
}

.openDays {
	text-align: left;
	padding-bottom: 3px;
	padding-right: 10px;
}

.openHours {
	text-align: right;
	padding-bottom: 3px;
}

#map {
	width: auto;
	height: auto;
	max-height: 340px;
	padding: 10px;
	float: left;
	
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#main {
	border-color: gray;
	padding: 0px;
}

.slidesContainer {
	width: 100%;
	height: auto;
}

.slide {
	width: 100%;
	height: auto;
	
	-webkit-transition: display 2s; /* For Safari 3.1 to 6.0 */
    transition: display 2s;
	
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#slidesButtons {
	width: 100%;
	position: relative;
	bottom: 70px;
	font-size: 50px;
	color: white;
	text-shadow: 2px 2px 4px #000000;
}

#slidesButtonPrev {
	float: left;
	cursor: pointer;
	padding-left: 10px;
	
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#slidesButtonNext {
	float: right;
	cursor: pointer;
	padding-right: 10px;
	
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#slidesButtonNums {
	text-align: center;
	font-size: 50px;
	
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#slidesButtonNums span {
	cursor: pointer;
}

.bookContainer {
	width: 100%;
	height: 175px;
	overflow-x: hidden;
	overflow-y: hidden;
	white-space: nowrap;
}

.bookContainer * {
	pointer-events: none;
}

.bookContainerTitle {
	border-bottom: 1px solid black;
	text-align: center;
	width: 100% - 10px; 
	height: 15px;
	margin-bottom: 15px;
	margin-left: 5px;
	margin-right: 5px;
	color: black;
}

.bookContainerTitle span {
	font-size: 20px;
	background-color: white;
	padding-left: 5px;
	padding-right: 5px;
}

.book {
	width: 128px;
	height: 150px;
	display: inline-block;
	background-color: white;
	border: 1px solid gray;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
}

.book img {
	display: block;
	margin: auto;
	height: 100%;
	width: auto;
	
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.bookContainerButtons {
	position: relative;
	width: 100%;
	color: white;
	text-shadow: 2px 2px 4px #000000;
	bottom: 115px;
}

.scrollLeft {
	float: left;
	cursor: pointer;
	font-size: 40px;
	padding-left: 10px;
	opacity: 0;
	position: relative;
	
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.scrollRight {
	float: right;
	cursor: pointer;
	font-size: 40px;
	padding-right: 10px;
	opacity: 0;
	position: relative; 
	
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Screen is 992px or wider */
@media (min-width:992px) {
	#center {
		width: 992px;
	}
	
	#map {
		width: 100%;
		height: auto;
		display: block;
	}
}