#center {
	width: 100%;
	margin: 0 auto;
}

#banner {
	width: 100%;
	padding: 0px;
	
	/* Disables highlighting */
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#banner img {
	width: 100%;
}

#langButton {
	position: absolute;
	right: 0px;
	top: 0px;
	color: gray;
	background-color:white;
	padding-left: 5px;
	font-size: 14px;
	cursor: pointer;
}

#main {
	padding: 0px;
}

.slidesContainer {
	width: 100%;
	height: auto;
}

.slide {
	width: 100%;
	height: auto;

	/* Disables highlighting */
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#slidesButtons {
	width: 100%;
	position: absolute;
	bottom: 0px;
	color: white;
	font-size: 50px;
	text-shadow: 0px 0px 5px #000000;
	
	/* Disables highlighting */
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#slidesButtons #prev {
	float: left;
	padding-left: 10px;
	font-size: 50px;
	cursor: pointer;
}

#slidesButtons #next {
	float: right;
	padding-right: 10px;
	font-size: 50px;
	cursor: pointer;
}

#slidesButtons #nums {
	
	font-size: 40px;
	text-align: center;
}

#slidesButtons #nums span {
	cursor: pointer;
}

.itemContainerTitle {
	width: 100% - 10px; 
	height: 15px;
	color: black;
	margin-bottom: 15px;
	border-bottom: 1px solid black;
	text-align: center;
}

.itemContainerTitle span {
	background-color: white;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 20px;	
}

.itemContainer {
	width: 100%;
	height: 145px;
	overflow-x: hidden;
	overflow-y: hidden;
	white-space: nowrap;
}

.item {
	width: 100px;
	height: 125px;
	position: relative;
	display: inline-block;
	background-color: white;
	border: 1px solid gray;
	border-radius: 5px;
	margin-top: 2.5px;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	transition: box-shadow 0.2s;
}

.highlight {
	height: 130px;
	box-shadow: 0px 0px 5px black;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.item img {
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	vertical-align: middle;
	
	/* Disables highlighting */
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.scrollLeft {
	position: absolute;
	left: 0px;
	bottom: 35px;
	color: white;
	padding-left: 10px;
	font-size: 40px;
	text-shadow: 0px 0px 5px #000000;
	cursor: pointer;
	
	/* Disables highlighting */
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.scrollRight {
	position: absolute; 
	right: 0px;
	bottom: 35px;
	color: white;
	padding-right: 10px;
	font-size: 40px;
	text-shadow: 0px 0px 5px #000000;	
	cursor: pointer;

	/* Disables highlighting */
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.itemInfo {
	max-height: 1000px;
	color: black;
	background-color: rgb(230, 230, 230);
	border: 1px solid gray;
	border-radius: 5px;
	margin-top: 10px;
	padding: 10px;	
}

.itemInfo .coverImg {
	display: none;
	width: 30%;
	height: auto;
	vertical-align: top;
}

.coverImg img {
	width: 100%;
	height: auto;
}

.itemInfo .text {
	width: 100%;
	display: inline-block;
}

.text .title {
	font-size: 20px;
}

.text .price {
	font-size: 20px;
	line-height: 200%;
}

.text .salePrice {
	color: forestgreen;
	font-size: 20px;
	line-height: 200%;
}

.text .regPrice {
	color: grey;
	font-size: 20px;
	line-height: 200%;
	text-decoration: line-through;
}

.text .desc {
	margin-bottom: 0px;
	text-align: justify;
    text-justify: inter-word;
}

#footer {
	background-color: gold;
	margin-top: 10px;
	padding: 0px;
}

#info {
	width: 100%;
	background-color: gold;
	margin-right: auto; 
	margin-left: auto;
}

#info a {
	color: inherit;
	text-decoration: none;
}

.infoText {
	color: black;
	font-size: 14px;
	line-height: 1.6;
}

#left {
	width: 50%;
	display: inline-block;
	padding: 10px;
	vertical-align: top;
}

#right {
	width: 50%;
	display: inline-block;
	padding: 10px;
	vertical-align: top;
}

#openTimes {
	color: black;
	font-size: 14px;
	line-height: 1.6;
}

.openDays {
	padding-right: 20px;
	text-align: left;
}

.openHours {
	text-align: right;
}

#map {
	width: 100%;
	height: auto;
	display: block;
	
	/* Disables highlighting */
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Big width */
@media (min-width:992px) {
	/* 992px - scrollbar width = 975px */
	#center {
		width: 975px;
	}
	
	#info {
		width: 975px;
	}
}

/* Medium width */
@media (min-width:715px) {
	#slidesButtonNums {
		display: block;
	}
	
	.itemContainerTitle {
		height: 20px;
		margin-bottom: 25px;
	}
	
	.itemContainerTitle span {
		font-size: 30px;
	}
	
	.itemContainer {
		height: 192px;
	}
	
	.item {
		width: 130px;
		height: 175px;
		line-height: 125px;
	}
	
	.item img {
		max-width: 100%;
		max-height: 100%;
	}
	
	.highlight {
		height: 182px;
	}
	
	.scrollRight {
		bottom: 61px;
	}
	
	.scrollLeft {
		bottom: 61px;
	}
	
	.itemInfo .coverImg {
		display: inline-block;
	}
	
	.itemInfo .text {
		width: calc(70% - 20px);
		display: inline-block;
		margin-left: 10px;
	}
	
	.text .title {
		font-size: 30px;
	}
	
	.infoText {
		font-size: 18px;
		line-height: 2;
	}
	
	#openTimes {
		font-size: 18px;
		line-height: 2;
	}
	
	#left {
		width: calc(100% - 439px);
	}
	
	#right {
		width: 439px;
	}
	
	#map {
		width: 100%;
		height: auto;
	}
}