<html lang="en">
<head>
	<title>Russkaya Kniga</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="../../images/icon.ico">
	<!-- CSS STYLESHEET -->
	<link type="text/css" rel="stylesheet" href="../../css/stylesheet.css"/>
	<!-- JS SCRIPT -->
	<script src="../../js/main.js"></script>
	<!-- BOOTSTRAP -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- JQUERY -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- <script src="../../js/jquery.js"></script> -->
	<!-- ANGULAR JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script src="../../js/myApp.js"></script>
	<script src="../../js/myCtrl.js"></script>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
	<div id="center">
		<!-- BANNER -->
		<div class="col-md-12" id="banner">
			<img src="../../images/banner.jpg" alt="Banner">
			<span id="langButton" onclick="changeLang()">Русский</span>
		</div>
		<!-- MAIN -->
		<div class="col-md-10 col-md-push-2" id="main">
			<!-- PROMO SLIDES -->
			<div id="slidesContainer" ng-view>
				<img class="slide" style="display: none;" ng-repeat="promo in promos | filter:{lang:'en'}" ng-src="{{ promo.address }}" cycle-Slides>
				<!-- BUTTONS -->
				<div id="slidesButtons">
					<div id="slidesButtonPrev" onclick="prevSlide()">&#10094;</div>
					<div id="slidesButtonNext" onclick="nextSlide()">&#10095;</div>
					<div id="slidesButtonNums"></div>
				</div>
			</div>
			<div style="position: relative; bottom: 45px;">
				<!-- TOP SELLERS TITLE -->
				<div class="bookContainerTitle topSellers">
					<span><strong>TOP SELLERS</strong></span>
				</div>
				<!-- TOP SELLERS CONTAINER -->
				<div class="bookContainer topSellers">
					 <div class="book topSellers" style="right: 0px"><img src="../../images/books/book1.jpg" alt="Book"></div
					><div class="book topSellers" style="right: 0px"><img src="../../images/books/book2.jpg" alt="Book"></div
					><div class="book topSellers" style="right: 0px"><img src="../../images/books/book1.jpg" alt="Book"></div
					><div class="book topSellers" style="right: 0px"><img src="../../images/books/book2.jpg" alt="Book"></div
					><div class="book topSellers" style="right: 0px"><img src="../../images/books/book1.jpg" alt="Book"></div
					><div class="book topSellers" style="right: 0px"><img src="../../images/books/book2.jpg" alt="Book"></div
					><div class="book topSellers" style="right: 0px"><img src="../../images/books/book1.jpg" alt="Book"></div>
				</div>
				<!-- TOP SELLERS BUTTONS -->
				<div class="bookContainerButtons topSellers">
					<div class="scrollRight topSellers">&#10094;</div>
					<div class="scrollLeft  topSellers">&#10095;</div>
				</div>
				<!-- NEW ARRIVALS TITLE -->
				<div class="bookContainerTitle newArrivals">
					<span><strong>NEW ARRIVALS</strong></span>
				</div>
				<!-- NEW ARRIVALS CONTAINER -->
				<div class="bookContainer newArrivals">
					<div class="book newArrivals" style="right: 0px" ng-repeat="book in books"><img ng-src="{{ book.address }}" alt="{{ book.title }}"></div>
				</div>
				<!-- NEW ARRIVALS BUTTONS -->
				<div class="bookContainerButtons newArrivals">
					<div class="scrollRight newArrivals">&#10094;</div>
					<div class="scrollLeft  newArrivals">&#10095;</div>
				</div>
			</div>
		</div>
		<!-- CONTACTS -->
		<div class="col-md-2 col-md-pull-10"  id="info">
			<!-- MAP -->
			<a href="https://goo.gl/maps/P9gdSUCahW22" target="_blank"><img id="map" src="../../images/map.png" alt="Map"></a>
			<div id="infoText">
				<p><strong>INFORMATION</strong></p>
				<!-- ADDRESS -->
				<p><a href="https://goo.gl/maps/P9gdSUCahW22" target="_blank">9631 Yonge St, Richmond Hill,<br>ON L4C 0M5</a></p>
				<!-- PHONE -->
				<p>(905) 780-8376<br></p>
				<!-- EMAIL -->
				<p><a href="mailto:ruskniga@hotmail.com">ruskniga@hotmail.com</a><br></p>
				<!-- OPEN HOURS -->
				<p><strong>OPEN HOURS</strong></p>
				<table id="openTimes">
					<tr>
						<td class="openDays">Mon</td>
						<td class="openHours">11am-8pm</td>
					</tr>
					<tr>
						<td class="openDays">Tue</td>
						<td class="openHours">11am-8pm</td>
					</tr>
					<tr>
						<td class="openDays">Wed</td>
						<td class="openHours">11am-8pm</td>
					</tr>
					<tr>
						<td class="openDays">Thur</td>
						<td class="openHours">11am-8pm</td>
					</tr>
					<tr>
						<td class="openDays">Fri</td>
						<td class="openHours">11am-8pm</td>
					</tr>
					<tr>
						<td class="openDays">Sat</td>
						<td class="openHours">11am-6pm</td>
					</tr>
					<tr>
						<td class="openDays">Sun</td>
						<td class="openHours">11am-6pm</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</body>
</html>